#services {
    background-color: rgb(12 , 25 , 48);
    margin-bottom: 4px;
    line-height: 1.4;
    color: aliceblue;
}


.sub-title {
    font-size: 60px;
    text-align: center;
    padding-bottom: 70px;
}

.sub-title span {
    color: #0ef;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7,
}