#services {
    background-color: rgb(12 , 25 , 48);
    margin-bottom: 4px;
    line-height: 1.4;
    color: aliceblue;
}


.sub-title {
    font-size: 60px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 40px;
}

.sub-title span {
    color: #0ef;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7
}


.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
    color: #00eeff;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .2s;
    box-shadow: 0 0 5px #0ef,
                0 0 25px #0ef;
}

.read:hover {
    background: #0ef;
    box-shadow: 0 0 10px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 20px cyan;
}

.services-list div:hover {
    transform: translateY(-10px);
}